@import '~bootstrap/scss/bootstrap.scss';
body { padding: 10px; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.object-type .object-type {
  border: 1px dashed #8b8f99;
  padding: .5em;
}

.array-type {
  border: 1px dashed #8b8f99;
  padding: .5em;
}
